/* Elements principaux de la page */

html, body 
{
	height: 100%;
	margin: 0px; padding: 0px;
}

body 
{
	display : table;
    width: 100%;
}

footer 
{
	display : flex;
    height: 150px; /* réglage page */
    width: 100%;
    background-color: rgb(240, 240, 240);
}

section
{
    padding-left: 10%;                          /* A VOIR */
    padding-right: 15%;
}

/* Header */

.flottant
{
    float: left;
    margin: 22px 0 0 30px;
    padding-left: 155px; 
}

#entete
{
    display: flex;
    justify-content: flex-end;
    padding-right: 8%;
}

/* Navigation */

.box_nav
{
    padding: 30px;
    padding-right: 70px;   
}

.button:hover 
{
    border-top: solid 3px blue;
    padding-top: 29px;
}

a
{
    text-decoration: none;
    color: black;
}

/* Corps du haut */

#base h1, #base p
{
    margin: 0;
    padding-left: 10%;
}

h1
{
    font-size: 1.5em;
}

p
{
    font-size: 1em;    
}

#conteneur
{
    display: flex;
    margin-top: 30px; 
    padding-left: 10%;   
}

.localisation
{
    display: flex;
    height: 40px;
    width: 30px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px 0 0 10px;
    background-color:  rgb(240, 240, 240);
    justify-content: center;
    align-items: center;  
}

.recherche
{
    display: flex;
    width: 120px;
    height: 10px;
	padding: 10px 50px 20px 10px;
	background-color: white;
    border: 1px solid rgb(240, 240, 240);
    font-weight: bold;
}

.bouton
{
    display: flex;
    width: 100px;
    height: 40px;
    border: 1px solid  rgb(4, 100, 252);
    border-radius: 0 10px 10px 0;
    background-color: rgb(4, 100, 252);
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#filtres
{
    display: flex;
    padding-top: 10px;
    padding-left: 10%;
    
}

.filtre
{
    display: flex;
    border: solid 2px rgb(240, 240, 240);
    height: 40px;
    width: 150px;
    border-radius: 25px;
    border-left: none;
    align-items: center;
    margin-left: 40px;
    margin-top: 15px;    
}

.filtre_dog
{
    display: flex;
    border: solid 2px rgb(240, 240, 240);
    height: 40px;
    width: 190px;
    border-radius: 25px;
    border-left: none;
    align-items: center;
    margin-left: 40px;
    margin-top: 15px;    
}

.eco
{
    width: 42px;
    height: 42px;
    background-color: rgba(222,235,255,255);    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;    
}

.eco i
{
    color: rgb(4, 100, 252);
}


.filter
{
    font-weight: bold;
    padding-left: 10px;      
}

.icone_i
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(4, 100, 252); 
    width: 30px;
    height: 30px;                     
    border-radius: 100px;
    border: 1px solid rgb(240, 240, 240) ;
    background: white; /* couleur cercle */
}

#info
{
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 10%;
}

.infos
{
    font-size: 1.2em;
    padding-left: 20px;
    padding-top: 5px;
}

/* Corps du bas */

.fa-star
{
    color: rgb(4, 100, 252);
    font-size: 0.5em; 
}

#étoile
{
    color: gray;
}

#conteneur_section
{
    background-color: rgb(240, 240, 240); /* couleur section */
    width: 128%;
    height: 560px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 40px; 
}

.haut_arrondie /* images */
{
    border-radius: 20px 20px 0px 0px;
    height: 115px;
    width: 241px;
}

.box
{
    border: white 3px solid;
    border-radius: 20px;
    background-color: white;
    width: 27%;
    height: 190px;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-right: 25px;
}

.box h3, .box p
{
    margin: 0; /* absence de marge au dessus du h3 et du p */
    padding-left: 10px;
}

.position
{ 
    font-size: 18px;
    position: absolute;
    left: 12%;
    padding-top: 10px;
}

.positions
{
    position: absolute;
    left: 12%;
    bottom: 10px;
    font-weight: bold;
    padding-bottom: 57px;
}

#conteneur_aside
{
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    margin-bottom: 30px;
    width: 120%;
    height: 560px;
    display: flex;
    flex-direction: column;
    flex: 1.2;
    align-items: center;
    justify-content: space-around;
}

article
{
    flex: 3;
}

article, aside
{
    text-align: justify;
}

section
{
    display: flex;
}

.flottant_aside
{
    border-radius: 20px 0 0 20px;
    width: 200px;
    float: left;
    margin-right: 10px;
}

.box_aside
{
    border: white 3px solid;
    border-radius: 20px;
    background-color: white;
    width: 380px; 
    height: 133px;
    align-content: center;      
}

h3
{
    font-size: 1em;
}

#positions_aside                         /* A VOIR */
{
    display: flex;
    padding-top: 8px;
}

#positions_aside h2
{
    font-size: 18px;
}

.position_aside
{
    position: relative;
    left: 112%;
    padding-top: 10px;
    display: flex;
    padding-right: 180px;
}

.icone_aside
{
    position: relative;
    left: 123%;
    display: flex;
    padding-top: 28px
}






/* Footer */

footer h1
{
    font-size: 1.1em;
}

footer a:hover
{
    border-bottom: solid 1px rgb(4, 100, 252); 
}

#A_propos
{
    width: 28%;
    padding-left: 10%;
      
}

#Nos_Hébergements
{
    width: 28%;
}
