html, body 
{
	height: 100%;
	margin: 0px; padding: 0px;
}

body 
{
	display : table;
	width: 100%;
}

footer 
{
	display : table-row;
    height: 150px; /* réglage page */
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.flottant
{
    float: left;
    margin: 22px 0 0 30px;
    
}

#conteneur_entete
{
    display: flex;
    justify-content: flex-end;
}

.element
{
    padding: 30px;   
}

.button:hover  /* Au survol de la souris */
{
    border-top: solid 3px blue;
    padding-top: 28px;
}

a /* Lien en général */
{
    text-decoration: none;
    color: black;
}


#conteneur_bouton
{
    display: flex;
    padding-left: 30px;
}

.conteneur_bouton1
{
    width: 60px;
    height: 36px;
	text-align: center;
    background-color:  rgb(240, 240, 240);
    border-radius: 20px 0px 0px 20px;
    border: 1px solid rgb(240, 240, 240);
    padding-top: 20px;
}

.conteneur_bouton2
{
    width: 160px;
    height: 26px;
	padding: 10px 50px 20px 10px;
	background-color: white;
    border: 1px solid rgb(240, 240, 240);
    font-weight: bold;
    

}

.conteneur_bouton3
{
    display: inline-block;
    width: 50px;
    height: 18px;
    padding: 20px 50px 20px 10px;
    background-color: rgb(4, 100, 252);
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
    border-radius: 0 20px 20px 0;
    font-weight: bold;    
}



#conteneur_footer
{
    display: flex;
    justify-content: space-between;
    
}

.button_footer:hover
{
    border-bottom: solid 1px blue;    
}

.fa-star
{
    color: rgb(4, 100, 252);
}

#star
{
    color: gray;
}

.fa-info-circle
{
    color: rgb(4, 100, 252);
    background-color: white;    
}

#conteneur_section
{
    border: rgb(240, 240, 240) solid 2px;
    background-color: rgb(240, 240, 240); /* couleur section */
    width: 40%;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin: 22px 0px 20px 30px;
    padding-left: 40px;       
}

.arrondie /* images */
{
    border-radius: 20px 20px 0px 0px;
    height: 115px;
}

.element1
{
    width: 30%;    
}

.box
{
    border: white 3px solid;
    border-radius: 20px;
    background-color: white;
    width: 173px;
    
}

span
{
    font-size: 12px;
    margin-left: 10px;    
}

#conteneur_section1
{
    display: flex;
    flex-direction: column;
    background-color:  rgb(240, 240, 240);
    height: 70%;
    width: 30%;
}

.arrondie2 /* images */
{

}

.box1
{
    border: white 3px solid;
    border-radius: 20px;
    background-color: white;
    width: 310px;
    margin-left: 25px;
    margin-top: 10px;
    
}
